.pay_img {
    max-height: 90vh;
    max-width: 60vw;
}

#box1 ,#box2 , #box3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

.paybox {
    display: flex;
    flex-direction: row;
    border: black solid 1px;
    margin: 1rem;
    padding: 1rem;
    width: min-content;
    border-radius: 15px;
}
.ttt {
    font-size: x-large;
    color: #959595;
}
.pay_info {
    border: black dashed 1px;
    margin: 1rem;
    padding: 1rem;
    background-color: #000d3f;
    color: white;
    align-content: center;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 20px;
}

.info {
    color: white;
    margin: 0.5rem 0;
    text-align: center;
    font-size: large;
}
.infobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}
.confirmbtn {
    background-color: white;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.confirm {
    background-color: rgba(0, 158, 39, 0.6);
    padding: 1rem 1.7rem;
    margin: 0 0.2rem;

}

.deny {
    background-color: rgba(163, 0, 0, 0.53);
    padding: 1rem 1.7rem;
    margin: 0 0.2rem;
}

.disable {
    background-color: rgba(163, 62, 0, 0.53);
    padding: 1rem 1.7rem;
    margin: 0 0.2rem;
}


.sec_confirm {
    background-color: rgba(0, 97, 158, 0.6);
    padding: 1rem 1.5rem;
    margin: 0 0.2rem;
}

.edit_price {
        background-color: rgba(158, 113, 0, 0.6);
    padding: 1rem 1.3rem;
    margin: 0 0.2rem;
}

.c_btnd {
        margin: 0 0;
        border-radius: 5px;
    }
a:hover {
    text-decoration: none;
}

.confirm_price_btn {
    width: 98%;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.confirm_price {
    background-color: rgba(0, 48, 152, 0.3);
    margin-top: 1rem;
}
#id_price {
    text-align: center;
}
.errors {
    width: 100%;
    text-align: center;
    background-color: #ff9d9d;
    border: solid red 2px;
    color: #000d3f;
}

#changebox {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    padding: 1rem 0;
    background-color: #8a8a8a;
}

.changebtns {
    margin: 1rem 0;
    border: none;
    padding: 1rem 2rem;
}

#btn1 {
border-radius: 0 30px 30px 0 ;
}

#btn3 {
border-radius: 30px 0 0 30px;
}

#btn2 {
    border-left: #000d3f 1px solid;
    border-right: #000d3f 1px solid;
}


.number_not{
    background-color: #9e0000;
    color: white;
    margin: 0 0.25rem;
    padding: 0.25rem 0.5rem 0.20rem;
    border-radius: 50px;
}

.xy {
    background-color: #000d3f;
    margin: 1rem 0.5rem;
    padding: 1rem;
    border-radius: 20px;
    width: 80%;
    max-width: 60rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
}
.notpaid_text {
    color: white;
    font-size: large;
}
.nspan {
    font-size: x-large;
}

.pbox {
    background-color: white;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right:2rem;
    border-radius: 10px;
}
.x_btnd {
    border-radius: 5px;
    text-align: center;
    width: 10rem;
    margin: 0.5rem;

}
@media  (max-width: 850px) {
    .ttt {
    font-size: larger;
}
    .notpaid_text{
        font-size: large;
    }
    .nspan {
    font-size: larger;
}
    .x_btnd {
        border-radius: 5px;
        min-width: 8rem;
        margin: 0.5rem 1rem;
        font-size: small;
        text-align: center;
        padding: 1rem;
}
    .xy {
        width: 90%;
        flex-direction: column;
    }
    .pbox {
    background-color: white;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-evenly;
        margin-right:0;

}
    .changebtns {
    margin: 1rem 0;
    border: none;
    padding: 1rem 0.5rem;
    font-size: small;
}

    .number_not{
    margin: 0 0.25rem;
    padding: 0.15rem 0.25rem 0.10rem;
    border-radius: 50px;
}


    .paybox {
        display: flex;
        flex-direction: column-reverse;
        margin: 2rem 1rem;
        width: 95%;
        padding: 0;
        border: solid #030055 3px;
        border-radius: 5px;
}

.pay_info {
    margin: 0 0;
    padding: 1rem;
    background-color: #000d3f;
    color: white;
    align-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
        border-radius: 0;
}
    .conf_btns {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .pay_img {
    max-width: 100vw;
}
    .c_btnd {
        margin: 0 0;
        border-radius: 5px;
    }
    .confirmbtn {
        margin: 0.5rem 0;
        padding: 0.3rem 0;
    }
    .msg {
        width: 95%;
    }
}