{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% include "base_head.html" %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'finance/add_price.css' %}">
</head>
<body>

    {% include "navbar.html" %}
    <div id="main">
        <form novalidate action="" method="post" dir="rtl">
            {% for field_errors in form.errors.values %}
              {% for error in field_errors %}
                  <p dir="rtl" class="errors">{{ error }}</p>
              {% endfor %}
            {% endfor %}
            <h3 id="title">تغییر کیف پول</h3>
            {% csrf_token %}
            <div class="textinput item"><h3 class="item_text">مبلغ : </h3>{{ form.wallet }}هزار تومان</div>
            <input id="create" type="submit" value="Edit" class="submit_btn">
        </form>
    </div>
{% include "loading.html" %}
{% include "list_servers.html" %}

</body>
</html>