{% load compress %}
{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
{% include "base_head.html" %}
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" type="text/css" href="{% static 'custumers/component.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'custumers/custumer_details.css' %}">
    <script>
        $(document).ready(function() {
            $("#loading").hide()
            $(".item").click(function () {
                $("#main").hide();
                $("#loading").show();
            });
        });
    </script>
</head>
<body>
    {% include "navbar.html" %}
    {% if messages %}
        <div class="message-container" dir="rtl">
            {% for msg in messages %}
                <h2 class="msg msg_{{ msg.tags }}">{{ msg }}</h2>
            {% endfor %}
        </div>
    {% endif %}
    <div id="main">
        <h3 id="title">User Info: {{ customer_obj.userid }}</h3>
            {% if not customer_obj.active %}
                <h3 dir="rtl" style="color: #0a0000" class="banned">⛔️ یوزر توسط ادمین بن شده است. ⛔️</h3>
            {% endif %}
        <div class="infobox" dir="rtl">
            {% if customer_obj.username == none %}
                <h3 class="info_item"> یوزرنیم : ----</h3>
            {% else %}
                <h3 class="info_item"> یوزرنیم : {{ customer_obj.username }}@</h3>
            {% endif %}
            <h3 class="info_item">نام : {{ customer_obj.first_name }}</h3>
            <h3 class="info_item">موجودی کیف پول : {{ customer_obj.wallet|price }} T  <a href="{% url "customers:change_wallet" customer_obj.userid %}"><img style="width: 2rem" src="{% static 'img/edit.png' %}" alt=""></a></h3>
            <h3 class="info_item">تعداد خرید ها : {{ customer_obj.purchase_number }}</h3>
            <h3 class="info_item">مجموع پرداخت ها : {{ sum_pays|price }} T</h3>
            {% if customer_obj.active %}
                <h3 class="info_item">وضعیت : فعال 🟢</h3>
            {% else %}
                <h3 class="info_item">وضعیت : غیرفعال 🔴</h3>
            {% endif %}
        <div id="btnaction">
            <a class="imgc" href="{% url 'customers:send_msg_to_user' customer_obj.userid %}"><img src="{% static "img/sendmsg.png" %}"></a>
            <a class="imgc" href="{% url "customers:update_customer" customer_obj.userid %}"><img src="{% static 'img/icons8-restart-512.png' %}" alt=""></a>
            {% if customer_obj.active %}
                <a class="ban imgc" href="{% url "customers:ban_user" customer_obj.userid 0 %}"><img src="{% static "img/ban.png" %}" alt=""></a>
            {% else %}
                <a class="ban imgc" href="{% url "customers:ban_user" customer_obj.userid 1 %}"><img src="{% static "img/unban.png" %}" alt=""></a>
            {% endif %}
        </div>
        </div>
        {% if not sum_configs %}
            <h3 id="title">🔻 کانفیگی ثبت نشده است 🔻</h3>
        {% else %}
            <h3 id="title">لیست کانفیگ ها</h3>
            <div class="configs_list">
                {% for conf in configs_model %}

                    <div class="configbox">
                        <a href="{% url 'servers:conf_page' conf.server.server_id conf.config_uuid conf.config_name %}" class="conf_name">{{ conf.config_name }}</a>
                        <h6 class="server">{{ conf.server.server_name }}</h6>
                        <h6 class="usage conf_infos" id="usage-{{ conf.config_name }}"></h6>
                        <h6 class="time conf_infos" id="time-{{ conf.config_name }}"></h6>
                        <h6 class="status conf_infos" id="status-{{ conf.config_name }}"></h6>
                        <div class="loader loader-{{ conf.config_name }}"></div>
                        <div class="error-{{ conf.config_name }}">❗️ Connection Error ❗️</div>

                    </div>
                    <script>
                        $(document).ready(function() {
                             $(".conf_infos").hide()
                             $('.error-{{ conf.config_name }}').hide()
                             $.ajax({
                                 url:"/customers/custumer_configs_api/{{ conf.config_uuid }}/",
                                 success: function(data){
                                $('#usage-{{ conf.config_name }}').html(data["usage"] + " GB  /  " + data["total_usage"] + ' GB' )
                                 $('#time-{{ conf.config_name }}').html(data["time_expire"])
                                 $('#status-{{ conf.config_name }}').html(data["status"] )
                                $(".conf_infos").show()
                                $(".loader-{{ conf.config_name }}").hide()
                                 }
                             , timeout: 15000,
                                 error: function () {
                                     $(".loader-{{ conf.config_name }}").hide()
                                    $('.error-{{ conf.config_name }}').show()
                                 }

                             });
                        });
                    </script>

                {% endfor %}
            </div>
        {% endif %}
        <hr style="background-color: #0a0000">
                <h4 id="his">History</h4>
            <div class="xcontainer">
		    		<table class="overflow-y">
		    			<thead>
		    				<tr>
                                <th>Data/Time</th>
                                <th>َAction</th>
		    				</tr>
		    			</thead>
		    			<tbody>
                        {% for x in history %}
                            <tr>
                                <td>
                                    {{ x.timestamp|timestamp }}
                                </td>
                                <td dir="ltr">
                                    {{ x.action }}
                                </td>
                            </tr>
                        {% endfor %}
		    			</tbody>
		    		</table>
            </div>

    </div>
{% include "loading.html" %}
{% include "list_servers.html" %}

</body>
</html>