{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% include "base_head.html" %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'custumers/send_msg.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'messages.css' %}">
    <script>

    </script>

</head>

<body dir="rtl">

    {% include "navbar.html" %}
    {% include 'messages.html' %}
    <div id="main">

        <form action="" method="post" novalidate dir="rtl">
            {% for field_errors in form.errors.values %}
                  {% for error in field_errors %}
                  <p dir="rtl" style="background-color: #ff6b6b ; width: 90%; text-align: center; margin-top: 0.5rem" class="errors">{{ error }}</p>
                  {% endfor %}
                {% endfor %}
            {% csrf_token %}
            <div>{{ form.message }}</div>
            <input type="submit" value="Send" class="submit_btn">
        </form>
    </div>
{% include "loading.html" %}
{% include "list_servers.html" %}

</body>
</html>