{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% include "base_head.html" %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home_page.css' %}">
    <script>
        $(document).ready(function() {
            $('#create_config_box').hide()
            $('#list_config_box').hide()
            $("#loading").hide()
            $("a").click(function () {
                $("#main").hide();
                $("#loading").show();
            });
            $('#create_config').click(function () {
                $('#main').hide()
                $('#create_config_box').show()
                }
            )
            $('#list_config').click(function () {
                $('#main').hide()
                $('#list_config_box').show()
                }
            )
            $('.close_btn').click(function () {
                $('#create_config_box').hide()
                $('#list_config_box').hide()
                $('#main').show()
            })
        });
    </script>

</head>

<body dir="rtl">

    {% include "navbar.html" %}
    {% include 'messages.html' %}
    <div id="main">
        <div id="box1">
            <div id="searchbox">
                <form novalidate action="{% url 'servers:list_configs_searches' %}" class="serch_box_inside" method="post">
                    {% csrf_token %}
                    <img class="search_img" src="{% static 'img/search-config.png' %}" alt="search">
                    {{ search_config.search_config }}
                    <input class="input_btn" type="submit" value="🔍">
                </form>
                <form novalidate action="{% url 'customers:custumers_list' %}" class="serch_box_inside" method="post">
                    {% csrf_token %}
                    <img class="search_img" src="{% static 'img/search-user.png' %}" alt="search">
                    {{ search_user.search_user }}
                    <input class="input_btn" type="submit" value="🔍">
                </form>
            </div>
            <a href="{% url 'finance:confirm_payments' %}" class="links link2" id="pay_confirm">✅ تایید پرداخت 💳</a>
            <button class="links link2" id="create_config">➕ ساخت کانفیگ 🔗</button>
            <button class="links link2" id="list_config">📋 لیست کانفیگ ها 🔗</button>
            <a href="{% url 'finance:show_prices' %}" class="links" id="tarefeh">💰 تعرفه ها 🛒</a>
            <a href="{% url 'customers:custumers_list' %}" class="links" id="customers">👥 مشتری ها 🤖</a>
            <a href="" class="links" id="servers">🌐 سرور ها 📶</a>
            <a href="{% url 'customers:send_msg_to_all' %}" class="links" id="message">️📝 پیام همگانی 📨</a>
            <a href="" class="links" id="report">📊 گزارشات 📈</a>
            <a href="" class="links" id="setting">⚙️ تنظیمات 🛠️</a>
            <a href="" class="links" id="setting">🗃️ Logs 📃</a>
            <a href="" class="links" id="setting">❗️ Errors ❗️</a>
        </div>
    </div>

    <div class="servers" id="list_config_box">
        <div class="closebox"><button class="close_btn">✖️</button></div>
        <h3>لیست کانفیگ ها</h3>
        <div class="server_lists" >
            {% for s in servers %}
                <a class="server_name" href='{% url "servers:list_configs" s.server_id %}'>🌐 {{ s.server_name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="servers" id="create_config_box">
        <div class="closebox"><button class="close_btn">✖️</button></div>

        <h3>ساخت کانفیگ</h3>
        <div class="server_lists" >
            {% for s in servers %}
                <a class="server_name" href="{% url 'servers:create_config_page' s.server_id 'auto' %}">🌐 {{ s.server_name }}</a>
            {% endfor %}
        </div>

    </div>
{% include "loading.html" %}

</body>
</html>