{% load compress %}
{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
{% include "base_head.html" %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'finance/confirm_payment.css' %}">
    <script>
        $(document).ready(function() {
            $("#loading").hide()
            $(".item").click(function () {
                $("#main").hide();
                $("#loading").show();
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            {% if show_box == 1 %}
                $("#box1").show();
                $("#box2").hide();
                $("#box3").hide();
                $("#btn1").css({"background-color": "#000d3f", "color":"white"})
                $("#btn2").css({"background-color": "white", "color":"#000d3f"})
                $("#btn3").css({"background-color": "white", "color":"#000d3f"})
            {% elif show_box == 2 %}
                $("#box1").hide();
                $("#box2").show();
                $("#box3").hide();
                $("#btn1").css({"background-color": "white", "color":"#000d3f"})
                $("#btn2").css({"background-color": "#000d3f", "color":"white"})
                $("#btn3").css({"background-color": "white", "color":"#000d3f"})
            {% elif show_box == 3 %}
                $("#box1").hide();
                $("#box2").hide();
                $("#box3").show();
                $("#btn1").css({"background-color": "white", "color":"#000d3f"})
                $("#btn2").css({"background-color": "white", "color":"#000d3f"})
                $("#btn3").css({"background-color": "#000d3f", "color":"white"})
            {% endif %}


            $("#btn1").click(function () {
                $("#box1").show();
                $("#box2").hide();
                $("#box3").hide();
                $("#btn1").css({"background-color": "#000d3f", "color":"white"})
                $("#btn2").css({"background-color": "white", "color":"#000d3f"})
                $("#btn3").css({"background-color": "white", "color":"#000d3f"})
            });
            $("#btn2").click(function () {
                $("#box1").hide();
                $("#box2").show();
                $("#box3").hide();
                $("#btn1").css({"background-color": "white", "color":"#000d3f"})
                $("#btn2").css({"background-color": "#000d3f", "color":"white"})
                $("#btn3").css({"background-color": "white", "color":"#000d3f"})
            });
            $("#btn3").click(function () {
                $("#box1").hide();
                $("#box2").hide();
                $("#box3").show();
                $("#btn1").css({"background-color": "white", "color":"#000d3f"})
                $("#btn2").css({"background-color": "white", "color":"#000d3f"})
                $("#btn3").css({"background-color": "#000d3f", "color":"white"})
            });
        });
    </script>
</head>
<body>
    {% include "navbar.html" %}
    {% include 'messages.html' %}
    <div id="main">
        <div id="changebox" dir="rtl">
            <button class="changebtns" id="btn1"> تایید پرداخت<span class="number_not">{{ confirm_count }}</span></button>
            <button class="changebtns" id="btn2"> تایید نهایی <span class="number_not">{{ second_confirm_count }}</span></button>
            <button class="changebtns" id="btn3"> پرداخت بدهی<span class="number_not">{{ not_paid_count }}</span></button>
        </div>
        <div id="box1">
            {% for i in confirm %}
                <div class="paybox" >
                    <div class="pay_info">
                        <div class="infobox">
                            {% if i.config_in_queue %}
                                <h4 class="info">Buy Service</h4>
                                <h3 class="info">server : <span class="nspan">{{ i.config_uuid|get_server }} </span></h3>

                            {% else %}
                                <h4 class="info">Add To Wallet</h4>
                            {% endif %}
                            <h3 class="info" href="{% url "customers:custumer_detail" i.custumer.userid %}">userid: <a style="color: #98e2ff">{{ i.custumer.userid }}</a></h3>
                            <h3 class="info">price : <span class="nspan">{{ i.pay_price|price }} T</span></h3>

                        </div>
                        <div class="conf_btns">

                            <div class="confirmbtn">
                                <a href="{% url 'finance:first_confirm' i.id %}" class="confirm c_btnd">تایید اولیه</a>
                            </div>
                            <div class="confirmbtn">
                                <a href="{% url 'finance:second_confirm' i.id %}" class="sec_confirm c_btnd">تایید نهایی</a>
                            </div>
                            <div class="confirmbtn">
                                <a href="{% url 'finance:edit_price' i.id %}" class="edit_price c_btnd">تغییر قیمت</a>
                            </div>
                            <div class="confirmbtn">
                                <a href="{% url 'finance:deny_payments' i.id %}" class="deny c_btnd">عدم تایید</a>
                            </div>
                        </div>
                    </div>
                    <img class="pay_img" src="{{ i.image.url }}" alt="pay_img">
                </div>
            {% endfor %}
            {% for i in confirm_tamdid_pay %}
                <div class="paybox" >
                    <div class="pay_info">
                        <div class="infobox">
                            <h4 class="info">Renew: <a style="color: #98e2ff" href="">{{ i.config.config_name }}</a></h4>
                            <h3 class="info" href="{% url "customers:custumer_detail" i.config.chat_id.userid %}">userid: <a style="color: #98e2ff">{{ i.config.chat_id.userid }}</a></h3>
                            <h3 class="info">price : <span class="nspan">{{ i.pay_price|price }} T</span></h3>

                        </div>
                        <div class="conf_btns">

                            <div class="confirmbtn">
                                <a href="{% url 'finance:first_tamdid_confirm' i.id %}" class="confirm c_btnd">تایید اولیه</a>
                            </div>
                            <div class="confirmbtn">
                                <a href="{% url 'finance:second_tamdid_confirm' i.id %}" class="sec_confirm c_btnd">تایید نهایی</a>
                            </div>
                            <div class="confirmbtn">
                                <a href="{% url 'finance:edit_price' i.id %}" class="edit_price c_btnd">تغییر قیمت</a>
                            </div>
                            <div class="confirmbtn">
                                <a href="{% url 'finance:deny_payments' i.id %}" class="deny c_btnd">عدم تایید</a>
                            </div>
                        </div>
                    </div>
                    <img class="pay_img" src="{{ i.image.url }}" alt="pay_img">
                </div>
            {% endfor %}
        </div>
        <div id="box2">
            {% for i in second_confirm %}
                <div class="paybox" >
                    <div class="pay_info">
                        <div class="infobox">
                            <h3 class="info">userid:<a style="color: #98e2ff" href="{% url "customers:custumer_detail" i.custumer.userid %}"> {{ i.custumer.userid }}</a></h3>
                            <h3 class="info">price : <span class="nspan">{{ i.pay_price|price }} T</span></h3>

                        </div>
                        <div class="conf_btns">
                            <div class="confirmbtn">
                                <a href="{% url 'finance:second_confirm' i.id %}" class="sec_confirm c_btnd">تایید نهایی</a>
                            </div>
                            <div class="confirmbtn">
                                <a href="{% url 'finance:deny_payments_after_first_confirm' i.id %}" class="deny c_btnd">عدم تایید</a>
                            </div>
                        </div>
                    </div>
                    <img class="pay_img" src="{{ i.image.url }}" alt="pay_img">
                </div>
            {% endfor %}
            {% for i in second_tamdid_pay %}
                <div class="paybox" >
                    <div class="pay_info">
                        <div class="infobox">
                            <h3 class="info">userid:<a style="color: #98e2ff" href="{% url "customers:custumer_detail" i.config.chat_id.userid %}"> {{ i.config.chat_id.userid }}</a></h3>
                            <h3 class="info">price : <span class="nspan">{{ i.pay_price|price }} T</span></h3>

                        </div>
                        <div class="conf_btns">
                            <div class="confirmbtn">
                                <a href="{% url 'finance:second_tamdid_confirm' i.id %}" class="sec_confirm c_btnd">تایید نهایی</a>
                            </div>
                            <div class="confirmbtn">
                                <a href="{% url 'finance:deny_tamdid_payments_after_first_confirm' i.id %}" class="deny c_btnd">عدم تایید</a>
                            </div>
                        </div>
                    </div>
                    <img class="pay_img" src="{{ i.image.url }}" alt="pay_img">
                </div>
            {% endfor %}
        </div>

        <div id="box3">
            {% for i in not_paid %}
                <div class="xy">
                    <div class="fbox">
                    {% if i.renew_count == 0 %}
                        <h3 class="ttt">Buy Service</h3>
                    {% else %}
                        <h3 class="ttt">Renew Service</h3>
                    {% endif %}
                        <a href="{% url "servers:conf_page" i.server.server_id i.config_uuid i.config_name %}" class="notpaid_text">Service: <span class="nspan" style="color: #98E2FFFF">{{ i.config_name }}</span> </a>
                        <h3 class="notpaid_text">price:  <span class="nspan">{{ i.price|price }} T</span></h3>
                        {% if i.chat_id == none %}
                            <h3 class="notpaid_text">user:  <span class="nspan">----</span></h3>
                        {% else %}
                            <a href="{% url "customers:custumer_detail" i.chat_id.userid %}" class="notpaid_text">user:  <span style="color: #98E2FFFF" class="nspan">{{ i.chat_id.userid }}</span></a>
                        {% endif %}
                    </div>
                    <div class="pbox">
                        <a href="{% url "finance:paid_after_create" i.id %}" class="confirm x_btnd">پرداخت شده</a>
                        <a href="" class="disable x_btnd">غیرفعال کانفیگ</a>
                        <a href="" class="deny x_btnd">حذف کانفیگ</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% include "loading.html" %}
</body>
</html>