{% load compress %}
{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
{% include "base_head.html" %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'finance/confirm_payment.css' %}">
    <script>
        $(document).ready(function() {
            $("#loading").hide()
            $(".item").click(function () {
                $("#main").hide();
                $("#loading").show();
            });
        });
    </script>
</head>
<body>
    {% include "navbar.html" %}
    {% include 'messages.html' %}
    <div id="main">
        <div id="box1">
            {% for i in obj %}
                <div class="paybox" >
                    <div class="pay_info">
                        <div class="infobox">
                            <a class="info" href="">userid: {{ i.custumer.userid }}</a>
                            <h3 class="info">price : {{ i.pay_price|price }} T</h3>

                        </div>
                        <div class="conf_btns">

                            <div class="confirmbtn">
                                <a href="{% url 'finance:first_confirm' i.id %}" class="confirm c_btnd">تایید اولیه</a>
                            </div>
                            <div class="confirmbtn">
                                <a href="{% url 'finance:second_confirm' i.id %}" class="sec_confirm c_btnd">تایید نهایی</a>
                            </div>
                            <div class="confirmbtn">
                                <a href="{% url 'finance:edit_price' i.id %}" class="edit_price c_btnd">تغییر قیمت</a>
                            </div>
                            <div class="confirmbtn">
                                <a href="{% url 'finance:deny_payments' i.id %}" class="deny c_btnd">عدم تایید</a>
                            </div>
                        </div>
                    </div>
                    <img class="pay_img" src="{{ i.image.url }}" alt="pay_img">
                </div>
            {% endfor %}
        </div>
    </div>

{% include "loading.html" %}
</body>
</html>