body {
    font-family: "vazirmatn";
    display: flex;
    flex-direction: column;
    background-color: rgba(52, 73, 94, 0.18);

}
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
form{
    width: 30%;
    min-width: max-content;
            background-color: rgba(192, 192, 192, 0.49);
    box-shadow: black 0 0 10px 3px;
        margin: 3rem 1rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

#id_create_for ,#id_config_name ,#id_type ,#id_usage_limit ,#id_days_limit ,#id_comment, #id_price,#id_daily_usage_limit
,#id_type_conf,#id_month,#id_price, #id_usage , #id_ip_limit, #id_server
{
    margin: 0;
    width: 100%;
    text-align: center;

}

.item {
    margin: 1rem 0;
}
.item_text{
    font-size: medium;
    text-align: right;
}
#create {
    margin: 1rem 0;
    background-color: #000d3f;
    color: white;
    padding: 0.5rem 0;

}
#title{
    text-align: center;
}

.errors {
    width: 100%;
    text-align: center;
    background-color: #ff9d9d;
    border: solid red 2px;
}

#loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.loading_text{
    text-align: center;
    margin: 5rem 0;
}

#tit {
    margin: 2rem 0 0 0 ;
}

.change_form {
    padding: 0.5rem 1rem;
    background-color: #000d3f;
    color: white;
    text-align: left;
    margin-top: 0.5rem;
    border-radius: 8px;
}
#zx {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: end;
}
.tamdid_conf {
    font-size: x-large;
    color: #98e0ff;
    background-color: #000d3f;
    padding: 0.5rem 0;
}

@media (max-width: 650px) {
    .tamdid_conf {
        font-size: medium;
    }

    #id_create_for ,#id_config_name ,#id_type ,#id_usage_limit ,#id_days_limit ,#id_comment, #id_price,#id_daily_usage_limit
        ,#id_type_conf,#id_month,#id_price, #id_usage, #id_ip_limit
{
    width: 100%;
    text-align: center;

    margin: 0 0;
}
    #create{
        width: 100%;
    }
    .item_text{
        text-align: right;
    }
    #title{
        font-size: larger;
    }
    form {
        width: 90%;
        padding: 3rem 1.5rem;
    }
}

#divloader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
    margin-top: 3rem;
  width: 8rem;
  height: 1rem;
  -webkit-mask: radial-gradient(circle closest-side, #002169 94%,#0000) left/20% 100%;
  background: linear-gradient(#00103b 0 0) left/0% 100% no-repeat #ddd;
  animation: l17 2s infinite steps(6);
}
@keyframes l17 {
    100% {background-size:120% 100%}
}






/* HTML: <div class="loader"></div> */
.loader2 {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 15px;
  background:linear-gradient(90deg, #001838 50%,#0000 0) right/200% 100%;
  animation: l21 2s infinite linear;
}
.loader2::before {
  content :"Loading...";
  color: #0000;
  padding: 0 5px;
  background: inherit;
  background-image: linear-gradient(90deg,#fff 50%, #00123b 0);
  -webkit-background-clip:text;
          background-clip:text;
}

@keyframes l21{
  100%{background-position: left}
}


.paid_text {
    display: inline;
    text-align: right;
    margin-top: 0;
}
#id_paid {
    font-size: x-large;
    padding: 1rem;
    width: 1.2rem;
    height: 1.2rem;
    margin: 0;
}



#id_server_name, #id_server_url, #id_username, #id_password, #id_server_fake_domain, #id_inbound_id, #id_inbound_port, #id_active, #id_server_id{
    width: 100%;
    text-align: center;
}

#id_active , #id_iphone{
    width: 1.2rem;
    height: 1.2rem;
}