
#button{
    border: none;
}

body {
    font-family: "vazirmatn", sans-serif;
    		background-color: rgba(52, 73, 94, 0.18);

}
#main {
    display: flex;
    margin: 2rem 0;
    flex-direction: column;
}

#box1 {
    width: 100%;
    display: flex;
    align-content: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: auto;
}
.links {
    border: #0a0000 1px solid;
    padding: 1rem 2rem;
    font-size: large;
    margin: 4rem 1rem 0;
    min-width: 18rem;
    text-align: center;
    background-color: #000d3f;
    color: white;
    border-radius: 5px;
}
.links:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
 #id_search_user, #id_search_config {
     text-align: center;
    width: 80%;
     max-width: 30rem;
     min-width: 15rem;
     margin: 0 0.25rem;
     border-radius: 5px;

 }
.serch_box_inside {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1rem 2rem;
    flex-grow: 1;
}
.input_btn{
    border-radius: 5px;
}
 #searchbox {
    width: 90%;
     display: flex;
     flex-direction: row;
     align-items: center;
     flex-wrap: wrap;
}

.search_img {
    height: 7vw;
    max-height: 3rem;
}

.servers{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:hover {
    text-decoration: none;
}

.servers {
    background-color: white;
  box-shadow: 5px 10px 8px rgba(0, 8, 62, 0.46);
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
}

.server_name {
    font-size: x-large;
    background-color: #000d3f;
    color: white;
    padding: 1rem 2rem;
    margin: 1rem;
    min-width: 15rem;
    text-align: center;
    border-radius: 5px;
}

.close_btn {
    font-size: large;
    color: #000d3f;
    border-radius: 15px;
    text-align: left;
    padding: 0.5rem;
    border: none;
}
.closebox {
    display: flex;
    width: 100%;
    align-items: start;
}
.server_lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.link2 {
    width: 30vw;
}

.sp {
    font-size: small;
    margin: 0 0 0 1rem;
}
@media (max-width: 650px) {
    .inbox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hidephone{
        display: none;
    }
    #user {
        margin: 0;
    }
    .links {
        font-size: medium;
        min-width: 10rem;
        padding: 0.5rem 1rem;
        margin: 0.5rem 0.25rem;
    }
    .link2 {
        width: 85%;
    }
    .search_img {
        height: 10vw;
        max-height: 2.5rem;
    }
    .serch_box_inside {
    margin: 1rem 0;
}
    .server_name {
    font-size: large;
    padding: 1rem 2rem;
    margin: 0.5rem;
    min-width: 11rem;

}

.close_btn {
    font-size: medium;

}

}