
    <div class="servers" id="list_config_box">
        <div class="closebox"><button class="close_btn">✖️</button></div>
        <h3>لیست کانفیگ ها</h3>
        <div class="server_lists" >
            {% for s in list_all_servers %}
                <a class="server_name" href='/servers/list_configs/{{ s.server_id }}/'>🌐 {{ s.server_name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="servers" id="create_config_box">
        <div class="closebox"><button class="close_btn">✖️</button></div>

        <h3>ساخت کانفیگ</h3>
        <div class="server_lists" >
            {% for s in list_all_servers %}
                <a class="server_name" href="/servers/create_config_page/{{ s.server_id }}/auto/">🌐 {{ s.server_name }}</a>
            {% endfor %}
        </div>

    </div>