
<div id="loading">
        <div dir="ltr" class="loading-container">
          <div class="loading-text">
            <span>N</span>
            <span>A</span>
            <span>P</span>
            <span>S</span>
            <span>V</span>
          </div>
            <div class="loading-text">
            <span>V</span>
            <span>P</span>
            <span>N</span>
          </div>
        </div>
        <h3 dir="ltr" style="margin-top: 2rem ;font-size: large">Connecting Server ...</h3>
        <h3 dir="ltr" style="margin-top: 2rem;font-size: larger">Please Wait</h3>
</div>

